.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-styled {
  text-align: center;
  display: flex;
  flex-direction: column;
  background:
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
}

.Header-styled {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: white; }
    50% { color: yellow; }
    100% { color: white; }
}

.GiphSearcher {
  height: 400px;
  width: 50%;
  align-self: center;
}

.GiphSearcher-styled {
  height: 400px;
  width: 50%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px 0;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid lightgrey;
}

.GiphSearcherTitle {
  height: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.SearchButton {
  height: 5%;
}

.GiphContainer img, .GiphContainer {
  height: 85%;
  padding: 10px;
}